@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.woff) format("woff"),
       url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.woff) format("woff"),
       url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #0400AF;
  --secondary-color: #767676;
}


/* Astuce pour fixed header and footer */
body {
  font-family: Montserrat-Regular, sans-serif;
  color: #333333;
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

body.dark {
  color: #F2F2F2;
  background-color: #1E2330;
}


main {
  flex: 1;
}

input[type=email], input[type=password], input[type=text] {
  cursor: pointer;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 0.8rem;
  display: block;
  margin: 0.6rem 0;
  border: 1px solid rgba(118, 118, 118, 0.5);
  border-radius: 16px;
  color: var(--secondary-color);
  background-color: #e9e9e9;
  padding: 0.3rem 0.4rem;
  transition: all 150ms ease-out;
}

select {
  cursor: pointer;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 1rem;
  display: inline-block;
  border: 1px solid rgba(118, 118, 118, 0.5);
  border-radius: 16px;
  color: rgba(118, 118, 118, 0.5);
  background-color: #e9e9e9;
  transition: all 150ms ease-out;
}

input[type=email]:hover, input[type=password]:hover, input[type=text]:hover, select:hover {
  border: 1px solid rgba(118, 118, 118, 1);
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, select:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  color: rgba(118, 118, 118, 1);
}

body.dark input[type=email], body.dark input[type=password], body.dark input[type=text] {
  border: 1px solid rgba(242, 242, 242, 0.5);
  color: rgba(242, 242, 242, 0.5);
  background-color: #2A3042;
}

body.dark select {
  border: 1px solid rgba(242, 242, 242, 0.5);
  color: rgba(242, 242, 242, 0.5);
  background-color: #2A3042;
}

body.dark input[type=email]:hover, body.dark input[type=password]:hover, body.dark input[type=text]:hover, body.dark select:hover {
  border: 1px solid rgba(242, 242, 242, 1);
}

body.dark input[type=email]:focus, body.dark input[type=password]:focus, body.dark input[type=text]:focus, body.dark select:focus {
  border: 1px solid var(--primary-color);
  color: rgba(242, 242, 242, 1);
}


@media (min-width: 750px) {
  :root {
    font-size: 18px;
  }
}